aws_region    = "us-east-1"
project       = "franchise-api"
environment   = "prod"
desired_count = 2
min_capacity  = 2
max_capacity  = 6

image_uri = "<account-id>.dkr.ecr.us-east-1.amazonaws.com/franchise-api:prod"

mongodb_uri_template = "mongodb+srv://{username}:{password}@cluster0.w5f4gxm.mongodb.net/franchise?retryWrites=true&w=majority&appName=Cluster0"

# Sensitive: prefer $env:TF_VAR_mongodb_username / $env:TF_VAR_mongodb_password.
mongodb_username = "<user>"
mongodb_password = "<password>"
